#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}
.Checkboxchcolor:focus {
  outline: none !important;
  border: 1px solid red !important;
  box-shadow: 0 0 10px #719ece !important;
}
#customers tr:hover {
  background-color: #ddd;
}
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #c83349;
  color: white;
}
.hscroll {
  overflow-x: auto; /* Horizontal */
}
.AllDeleteButton {
  height: 3rem;
  width: 8rem;
  border: none;
  background-color: #c83349;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
}
.AllDeleteButton:active {
  transform: scale(0.98);
  background-color: #e06377;
}
.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 5px;
}
@media screen and (max-width: 720px) {
  .footer {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
